.heading{
    display: inline;
    text-align: center;
    background-color: #209d5c;
    position: fixed;
    top: 0;
    margin-top: 0;
    left: 0;
    right: 0;
    padding: 30px;
}
.kolom1{
    display: inline-block;
    color: black;
    text-decoration: none;
    text-align: center;
    background-color: #c7d453;
    position: fixed;
    margin-left: -160px;
    margin-top: -48px;
    padding-inline: 40px;
    padding-block: 20px;
    border-radius:  0px 0px 30px 30px;
    -webkit-border-radius:  0px 0px 30px 30px;
    -moz-border-radius:  0px 0px 30px 30px;
    -ms-border-radius:  0px 0px 30px 30px;
    -o-border-radius:  0px 0px 30px 30px;
}
.kolom2{
    display: inline-block;
    color: black;
    text-decoration: none;
    text-align: center;
    background-color: #c7d453;
    position: fixed;
    margin-left: 9px;
    margin-top: -48px;
    padding-block: 20px;
    padding-inline: 40px;
    border-radius:  0px 0px 30px 30px;
}
